<div class="example-wrapper">
  <h2>Calendar</h2>
  <button value="today" (click)="handleCalendar('today')">Today</button>
  <button value="week" (click)="handleCalendar('week')">Week</button>
  <button value="month" (click)="handleCalendar('month')">Month</button>

  <div class="example-wrapper">
    <owl-date-time-inline
      (ngModelChange)="handleSelect($event)"
      [min]="min"
      [max]="max"
      [selectMode]="'range'"
      [pickerType]="'calendar'"
      [(ngModel)]="dateTime3"
    ></owl-date-time-inline>
    <h4>Value From Picker: {{ dateTime3 }}</h4>
  </div>
</div>
